<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0JL4oXEfVhebDnL-9_s4VYjc7mAzn3KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521645438003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enggmohd.instanewsApp</string>
	<key>PROJECT_ID</key>
	<string>instanew-app-enggmohd</string>
	<key>STORAGE_BUCKET</key>
	<string>instanew-app-enggmohd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521645438003:ios:5befc5765179a1c8c69f46</string>
</dict>
</plist>